#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#img {
  height: 200px;
  border: 3px solid white;
  border-radius: 10px;
}
.color-to-guess {
  background-color: #333;
  padding: 0.5rem;
  border-radius: 15px;
  border: 2px solid white;
  width: 100%;
  margin: 1rem;
}
.color-to-guess:hover {
  cursor: pointer;
  background-color: #fff;
  color: #333;
  border: 2px solid #333;
}
.color-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
